[submodule "ObjectiveFlickr"]
	path = ObjectiveFlickr
	url = git://github.com/iMediaSandboxing/objectiveflickr.git
[submodule "XPCKit"]
	path = XPCKit
	url = git@github.com:iMediaSandboxing/XPCKit.git
[submodule "PhFacebook"]
	path = PhFacebook
	url = https://github.com/philippec/PhFacebook.git
