ARCHS = ppc i386
COPY_PHASE_STRIP = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
FRAMEWORK_VERSION = A
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_OBJC_GC = supported
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SYSTEM_LIBRARY_DIR)/Frameworks/AppKit.framework/Headers/AppKit.h
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VALUE = YES
OTHER_LDFLAGS = -framework Foundation -framework AppKit -seg1addr 0xcf100000
PREBINDING = NO
ZERO_LINK = NO
MACOSX_DEPLOYMENT_TARGET = 10.4

DEPLOYMENT_POSTPROCESSING=YES
