// To override the build settings supplied in these build config files, copy the xcconfig files to a location 
// outside the working copy and modify the settings to your liking. Then add the following source tree to your
// Xcode prefs:
//
//		iMediaConfig		iMediaConfig		/path/to/modified/xcconfig/files
//
// You may have to relaunch XCode and clean you project to build with the new settings. Please verify that Xcode
// is now referencing your own set of xcconfig files.


SDKROOT = macosx10.9
ARCHS = i386 x86_64
MACOSX_DEPLOYMENT_TARGET = 10.6
PREBINDING = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

GCC_PREFIX_HEADER = iMedia.pch

//GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_ENABLE_OBJC_GC = unsupported
GCC_C_LANGUAGE_STANDARD = c99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_OPTIMIZATION_LEVEL = 0

// keep debugging symbols in separate files
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Without this, the linker complains about _objc_readClassPair not being found when compiling with Xcode 8 under macSO Sierra
CLANG_LINK_OBJC_RUNTIME = NO

