// To override the build settings supplied in these build config files, copy the xcconfig files to a location 
// outside the working copy and modify the settings to your liking. Then add the following source tree to your
// Xcode prefs:
//
//		iMediaConfig		iMediaConfig		/path/to/modified/xcconfig/files
//
// You may have to relaunch XCode and clean you project to build with the new settings. Please verify that Xcode
// is now referencing your own set of xcconfig files.

ONLY_ACTIVE_ARCH = YES

COPY_PHASE_STRIP = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_MODEL_TUNING = G5
//GCC_ENABLE_OBJC_GC = supported
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 MAS=1
